* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* T O P */

.top {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8vh 0;
    color: #fff;
    position: relative;
}

.top::before {
    content: "";
    background-image: url(./img/best-movies-1614634680.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.top h1 {
    font-weight: 700;
    font-size: 2.7rem;
    position: relative;
}

.top a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

.top a:hover {
    border-bottom: .5px solid #fff;
}

/* S E A R C H      F O R M  */

form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #d1d5db;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transform: translateY(-17px);
    background-color: #fff;
}

form i {
    height: 100%;
    color: #9ca3af;
    margin: 0 .75em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form input {
    border: none;
    padding: .6em;
    width: 100%;
    outline: none;
}

form button {
    border: none;
    background-color: #e4e4e4;
    padding: .7em 3em;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}

form button:hover,
form button:focus {
    background-color: #b6b5b5;
}

/* M A I N    C O N T E N T */

.main-content {
    color: #dfdddd;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
}

#main-content p {
    margin-top: 10em;
}

.main-content .fa-film {
    font-size: 3rem;
    margin-top: 3em;
}


/* M O V I E    D I V */

.movie-element {
    display: flex;
    margin-top: 1em;
    color: #000;
    margin: 40px 0;
}

.movie-element img {
    width: 150px;
    max-height: 100%;
    border-radius: 5px;
}

.movie-desc {
    padding: 1em;
}

.title-rating, 
.time-genre-add,
.desc {
    display: flex;
    font-size: 1rem;
    padding-bottom: .75em;
}

.title-rating {
    align-items: center;
    text-align: center;
}

.title-rating h2 {
    padding-right: .85em;
    font-weight: 600;
}

.title-rating i {
    color: #fec654;
    font-size: 0.8rem;
    padding-right: .25em;
}

.rating {
    font-size: 0.8rem;
}

.time-genre-add {
    justify-content: space-between;
    font-size: .8rem;
    max-width: 80%;
}

.time-genre-add button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.time-genre-add button:hover,
.time-genre-add button:focus {
    color: #424852;
}

.time-genre-add button:active {
    color: #fff;
}

.time-genre-add button i {
    font-size: 1.2rem;
    margin-right: .3em;
}

.desc {
    text-align: left;
    color: #6b7280;
}

@media (max-width: 576px) {
    .top {
        flex-direction: column;
    }

    form, 
    .main-content {
        width: 90%;
    }

    .movie-element {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    .movie-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .title-rating {
        font-size: .9rem;
        margin-top: 1em;
    }

    .time-genre-add {
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        align-items: center;
    }

    .time-genre-add p {
        margin-bottom: .75em;
    }

    .time-genre-add button {
        margin: 1em 0;
    }

    .desc {
        text-align: center;
        font-size: .95rem;
    }
}